# 原始文件
*.pdf
*_raw.txt

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
venv/
.venv/
env/
.env/

# MkDocs
site/
.cache/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.trae
CLAUDE.md

# macOS
.DS_Store
.AppleDouble
.LSOverride

# 临时文件
*.tmp
*.temp
*.log
*.txt

*_check.md
*_match.md
check*.py